<ul>
    <li><strong>section elements</strong>: {{ html.landmarks }}%</li>
    <li><strong>elements name</strong>: {{ html.landmarks-name }}</li>
    <li><strong>stylesheet</strong>: <a href="/assets/css/{{ html.name }}.css" target="_blank">/assets/css/{{ html.name }}.css</a></li>
    <li><strong>header</strong>: {{ html.header }}</li>
    <li><strong>primary navigation</strong>: {{ html.nav }}</li>
    <li><strong>main content</strong>: {{ html.main }}</li>
    <li><strong>aside</strong>: {{ html.aside }}</li>
    <li><strong>section</strong>: {{ html.section }}</li>
    <li><strong>article</strong>: {{ html.article }}</li>
    <li><strong>footer</strong>: {{ html.footer }}</li>
  </ul>