There are {{ stylesheet.size }} frameworks in this list
<table>
    <thead>
      <tr>
        <th>framework</th>
        <th>html5</th>
        <th>nav</th>
        <th>header</th>
        <th>main</th>
        <th>footer</th>
      </tr>
    </thead>
    {% assign items = css | sort: 'landmarks' | reverse %}
      {% for item in items %}
      <tr>
        <td><a href="{{ item.website }}" target="_new">{{ item.name }}</a></td>
        <td><a href="/list/demo2/{{ item.name | slugify | url }}">{{item.landmarks}}%</a></td>
        <td>{{ item.nav }}</td>
        <td>{{ item.header }}</td>
        <td>{{ item.main }}</td>
        <td>{{ item.footer }}</td>
      </tr>
{% endfor %}
</table>