There are {{ stylesheet.size }} frameworks in this list
<table>
    <thead>
      <tr>
        <th>framework</th>
        <th>landmarks</th>
        <th>html</th>
        <th>grid</th>
        <th>flex</th>
        <th>nav</th>
        <th>links</th>
      </tr>
    </thead>
    {% assign items = css %}
      {% for item in items %}
        <tr>
          <td><a href="/list/demo1/{{ item.name | slugify | url }}">{{ item.name }}&nbsp;1</a><br><a href="/list/demo2/{{ item.name | slugify | url }}">{{ item.name }} 2</a><br><a href="/list/demo3/{{ item.name | slugify | url }}">{{ item.name }} 3</a></td>
          <td>{{ item.landmarks }}%</td>
          <td>{{ item.html-elements }}%</td>
          <td>{{ item.grid }}</td>
          <td>{{ item.flex }}</td>
          <td>{{ item.nav }}</td>
          <td><a href="{{ item.website | url }}" target="_new">website</a><br><a href="{{ item.github }}" target="_new">github</a><br><a href="/assets/css/{{ item.name }}.css">CSS</a></td>
        </tr>
  {% endfor %}
  </table>